<%- include('../partials/header') %> 
  <main class="container">
    <form action="/cohorts" method="POST">
      <label for="cohort">Placerholder Form</label>
      <input type="textarea" id="cohort" name="testerfield" placeholder="Gabriel, Joanne, Sheelove">
      <button type="submit">Create Cohort</button>
    </form>
  </main>
<%- include('../partials/footer') %> 